
html{
	margin: 0;
	padding: 0;
}
.pad1{
	padding: 20;
	background-color: rgb(143, 142, 142);
	width: 700px;
	height: 150px;
	margin-left: 300px;
	border-radius: 10px;
	
}
.D42{
	position: relative;
}